body {
    margin: 0px;
    padding: 0px;
}

.title {
    margin: auto;
    width: 500px;
}

.filter_bar {
    width: 100%;
}

.filter_bar table {
    width: 100%;
    background: lightgray;
    padding: 10px;
    margin-right: 10px;
}

#problem_container {
    width: 1818px;
}

#problem_container table {
    width: 100%;
    padding: 10px;
    border-spacing: 0px;
    border-collapse: collapse;
    table-layout: fixed;
}

#problem_container tr:nth-child(even) {
    background: #f1f1f1!important;
}

#problem_container td {
    padding: 10px;
}

.filter_bar li {
    color: navy;
    margin-bottom: 5px;
}

.filter_bar li:hover {
    font-weight: bold;
}

#questions_container ul {
    max-height: 250px;
    overflow-y: auto;
}

#problem_details {
    color: navy;
    font-weight: bold;
}

#problem_details span {
    padding: 2px;
    margin-right: 100px;
}

.question {
    cursor: pointer;
    list-style-type: decimal;
}

.choice {
    list-style-type: upper-alpha;
}

.token {
    padding: 2px;
    border: solid 1px lightgray;
    cursor: pointer;
}

.selected_token {
    padding: 4px;
    background: navy;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.selected_child_token {
    padding: 2px;
    background: navy;
    opacity: 0.75;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.label {
    position: relative;
    width: 100px;
    height: 100%;
    font-weight: bold;
}

.sub_label {
    padding-top: 10px;
    font-weight: normal;
}

.label div {
    min-width: 120px;
}

.choice_ordinal div {
    text-align: center;
}

.option_selector {
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin: auto;
}

.choice_comparison_container {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
