<div id="sentence1_container">
    {% for token in comparison.sentence1_tokens_ %}
        <span class="token" data-scores="{{ token.scores_ }}" data-lines="{{ [] }}" data-children="{{ [] }}"
              onclick="selectAndLockToken(this)" onmouseover="selectToken(this)"
              onmouseout="unselectToken(this)">{{ token.token_ }}</span>
    {% endfor %}
</div>
<div>
    <svg height="300px">

    </svg>
</div>
<div id="sentence2_container">
    {% for token in comparison.sentence2_tokens_ %}
         <span class="token" data-scores="{{ token.scores_ }}" data-lines="{{ [] }}" data-children="{{ [] }}"
               onclick="selectAndLockToken(this)" onmouseover="selectToken(this)"
               onmouseout="unselectToken(this)">{{ token.token_ }}</span>
    {% endfor %}
</div>
