<table>
    {% for comp in comparisons %}
        <tr>
            <td class="comparison-info choice_ordinal" id="choice{{ comp.f_index_ }}_{{ comp.c_index_ }}_comparison_left">
                <div style="position: absolute;top: 15px">Question</div>
                <div style="position: absolute;top: 35px;font-weight:normal">
                    Source:
                    <span class="q_source_container"></span>
                </div>
                <div style="position: absolute;top: 55px;font-weight:normal">Keyword: {{ comp.q_keyword_ }}</div>
                <div>
                    {{ comp.c_ordinal_ }}<br/>
                    <div class="sub_label">
                        File {{ comp.f_index_ + 1 }}<br/>
                        Score: {{ comp.score_ }}
                    </div>
                </div>
                <div class="option_selector">
                    <select id="choice{{ comp.f_index_ }}_{{ comp.c_index_ }}"
                            onchange="changeComparison('{{ problem.id_ }}', {{ comp.f_index_ }}, '{{ comp.file_ }}', {{ comp.c_index_ }}, 0)">
                        {% for opt in comp.options_ %}
                            <option value="{{ opt }}">Option {{ opt }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div style="position: absolute;bottom: 55px;">Choice</div>
                <div style="position: absolute;bottom: 35px;font-weight:normal">
                    Source:
                    <span class="c_source_container"></span>
                </div>
                <div style="position: absolute;bottom: 15px;font-weight:normal">Keyword: {{ comp.c_keyword_ }}</div>
            </td>
            <td>
                <div id="choice{{ comp.f_index_ }}_{{ comp.c_index_ }}_comparison_container"
                     class="choice_comparison_container">
                </div>
            </td>
        </tr>
    {% endfor %}
</table>
